/* Vermelho #ff4545  opa*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------- menu -------------*/
header {
    background-color: #ff4545;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    width: calc(25% - 40px);
    text-align: center;
    margin: 0px 20px;
    height: 100%;
}

.logo img {
    height: 70%;
}

.logo h1 {
    font-size: 3vh;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid white;
}

.mobile-menu {
    cursor: pointer;
    display: none;
    margin: 15px;
}

.mobile-menu div {
    width: 32px;
    height: 4px;
    background-color: #fff;
    margin: 8px;
}

.nav-header {
    height: 100%;
    width: 60%;
    z-index: 10;
}

.nav-header ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.nav-header a {
    font-size: 2vh;
    text-decoration: none;
    color: white;
}

.nav-header a:hover {
    cursor: pointer;
    transition: all 200ms;
    border-bottom: 5px solid white;
}

#header-btn-cadastro {
    transition: all 200ms;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
}

/*animacao do botao cadastro ao colocar o mouse por cima*/
#header-btn-cadastro:hover {
    cursor: pointer;
    transition: all 200ms;
    background-color: white;
    color: #ff4545;
    padding: 15px;
}

/* ---------------- rodape -------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #ff4545;
    color: white;
}

footer p {
    color: white;
    font-size: 2.5vh;
}

/* ---------------- responsividade menu e rodape -------------*/
@media (max-width: 1000px){

header{
    justify-content: space-evenly;
}

.logo{
    width: 50%;
}

.logo img{
    height: 50%;
}

.logo h1{
    font-size: 2.5vh;
}

.mobile-menu{
    display: block;
}

.nav-header{
    display: none;
}

.nav-header.active{
    display: inline;
    position: absolute;
    top: 69px;
    right: 0;
    width: 100vw;
    height: 50vh;
    background: #ff4545;
}

.nav-header ul{
    flex-direction: column;
    align-items: center;
}

footer p{
    font-size: 2vh;
}
}

/* ---------------- catalogo -------------*/
main h1 {
    display: block;
    font-size: 28pt;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-bottom: solid 5px #ff4545;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.card .image-container {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card .image-container:hover img {
    transform: scale(1.1);
}


.car-info {
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 14px;
    color: #9d9d9d;
}

.price {
    font-size: 16px;
    color: #ff4545;
    font-weight: bold;
}

.buy-button {
    background-color: #ff4545;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.buy-button:hover {
    background-color: #ff2020;
}

/* ---------------- carrinho -------------*/
.cart-container {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
    z-index: 11;
    padding-bottom: 140px;
}

.cart-container ul {
    list-style: none;
}

.cart-container h2 {
    text-align: center;
    margin: 10px 0px 20px 0;
}

#cart-items {
    padding: 0 10px;
    overflow-y: auto;
}

#total-container {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 30px;
    bottom: 0;
    background-color: #ff4545;
    width: 100%;
    height: 80px;
}

#total-container h3 {
    color: #fff;

}

#close-cart-button {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
 /* ---------------- responsividade catalogo e carrinho -------------*/
@media screen and (max-width: 1173px) {
    .cart-container {
        width: 100%;
        right: -100%;
    }

    #open-cart-button {
        display: block;
        top: 20px;
        right: 20px;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    .cart-item-name {
        font-size: 14px;
    }

    .cart-item-quantity {
        font-size: 14px;
    }

    .cart-item-price {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {
    .cart-container {
        width: 100%;
        right: -100%;
    }

    #open-cart-button {
        display: block;
        top: 20px;
        right: 20px;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}

/* ---------------- carrinho -------------*/
#open-cart-button {
    background-color: transparent;
    transition: all 200ms;
    border: none;
    padding: 10px;
    font-size: 2vh;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

#open-cart-button:hover {
    cursor: pointer;
    transition: all 200ms;
    letter-spacing: 1px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.cart-item-name {
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
}

.cart-item-quantity {
    color: #999;
    text-align: left;
    margin-right: 10px;
}

.cart-item-price {
    font-weight: bold;
    text-align: right;
    color: rgb(0, 168, 0);
}